name: Publish Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 7.0.x

      - name: Build
        run: |
          dotnet build Vikunja/Vikunja.csproj -c Release

      - name: Package
        run: |
          $version = "${{ github.ref_name }}".TrimStart('v')
          Compress-Archive -Path "Vikunja/bin/Release/net7.0-windows/*" -DestinationPath "Vikunja-$version.zip"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: Vikunja-*.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
